# Локально DATABASE_URL можно оставить пустым.
# Тогда сайт создаст SQLite базу acem.db автоматически.
DATABASE_URL=

# Пароль админки. Пример: 123456
ADMIN_PASSWORD=CHANGE_ME

# Придумайте длинную случайную строку.
SECRET_KEY=CHANGE_ME_TO_A_LONG_RANDOM_STRING
